/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.welcome {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile {
    flex: 1;  /* Allows the image container to take up half of the available space */
    padding: 20px;
    display: flex;
    justify-content: center;  /* Centers the image within the profile container */
}

.profile img {
    width: 100%;  /* Makes the image fill the profile container */
    max-width: 300px;  /* Limits how large the image can grow */
    height: auto;
    border-radius: 25px;
}

.text {
    flex: 1;  /* Allows the text container to take up the remaining space */
    padding: 20px;
}

@media (max-width: 1024px) {
    .welcome {
        flex-direction: column;  /* Stacks the image and text vertically on smaller screens */
    }

    .profile, .text {
        max-width: 100%;
        padding: 10px;
    }
}
.post a, 
.page a {
    color: #a51c30 !important;
    text-decoration: none;
}

/* Optional: Change color on hover within page content */
.post a:hover, 
.page a:hover {
    color: #801521 !important; /* Darker Crimson for hover */
    text-decoration: underline;
}
