/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.welcome {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.profile {
    flex: 0 0 50%; /* Allocates 50% of the space to the profile, does not grow or shrink */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile img {
    max-width: 90%; /* Allows some padding space */
    height: auto;
    border-radius: 25px;
}

.text {
    flex: 1; /* Allows the text block to take the remaining space */
    padding: 20px;
    max-width: 50%; /* Ensures it does not take more than 50% */
}

@media (max-width: 1024px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }

    .profile, .text {
        max-width: 100%; /* Full width on smaller screens */
    }
}
