/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.welcome {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 20px;
}

.text {
    max-width: 500px;
    margin: 20px;
    flex-grow: 1; /* Allows the text block to expand */
}

@media (max-width: 768px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }

    .profile, .text {
        max-width: 100%;
        text-align: center;
    }
}
