<!DOCTYPE html>
<html lang="en-us">

  <head>
  <!-- Favicon -->
  <link rel="icon" href="/harvard-logo.png" type="image/png">
  <link rel="apple-touch-icon" href="/harvard-logo.png">
    
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZX3T0PVM6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-GZX3T0PVM6');
  </script>
  
  <!-- Head Includes -->
  {% include head.html %}
</head>
  
  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
